---
lang: {{LANG}}
pagetitle: {{PAGE_TITLE}}
include-before: |+
    <style type="text/css">
    span.hide{display:none;}
    span.hi{background-color:yellow;}
    span.readmore{background-color:cyan;}
    span.readmore:before{content:"Read more >>>";}
    </style>

...
