{@ !!! MODIFIED J2 COMMENT DELIMS !!! @}

BEGIN:VCARD
VERSION:3.0
SOURCE:{{VCARD3_URL}}
UID:{{VCARD3_UUID}}
REV:{{TS}}
FN:{{NAME1}} {{NAME3}}
N:{{NAME3}};{{NAME1}};;Mr.;
NICKNAME:{{NAME2}}
X-GENDER:Male
BDAY:{{BDAY_PUBLIC}}
PHOTO;TYPE=PNG;VALUE=URI:{{IMAGE_URL}}
ORG;TYPE=WORK:{{NAME1}} {{NAME3}} Cybersecurity Consulting
TITLE;TYPE=WORK:Self-Employed
EXPERTISE;LEVEL=EXPERT:cybersecurity, domain specific languages
ADR;TYPE=HOME:;;{{POSTAL_ADDR}};{{CITY}};;{{POSTAL_ZIP}};{{COUNTRY|upper}}
LABEL;TYPE=HOME:{{POSTAL_ADDR}}\n{{CITY}} {{POSTAL_ZIP}} {{COUNTRY|upper}}
GEO:{{GEO_COORDS}}
TZ:{{TZ_OFFSET}}
EMAIL:{{EMAIL}}
X-GTALK:{{EMAIL}}
X-SKYPE:{{SKYPE_ID}}
X-WHATSAPP:{{WHATSAPP_ID}}
TEL;TYPE=CELL,PREF:{{TEL_IL}}
TEL;TYPE=CELL:{{TEL_US}}
END:VCARD
