%% set LANG = 'en-US'
%% set VS = '0.4.1'
%% set VS_ORIG_DATE = '2017-09-18'

%% if not TS is defined
	%% set TS = DATETIME
%% endif
%% set YEAR = TS[0:4]
%% set TS_SQUEEZED = TS | replace('-','') | replace(':','')

%% if not WRITER is defined
	%% set WRITER = 'html5'
%% endif

%% if AGENT is defined
	%% if AGENT == 'ardix'
		%% set AGENT_NAME = 'ARDIX'
		%% set AGENT_URL = 'http://www.ardix.co.il/en/'
	%% elif AGENT == 'arm'
		%# intentionally no definitions
	%% elif AGENT == 'hammelburger'
		%% set AGENT_NAME = 'Hammelburger Head Hunting'
		%% set AGENT_URL = 'http://hammelburger.com/'
	%% elif AGENT == 'hitechrecruitment'
		%% set AGENT_NAME = 'Hi Tech Recruitment'
		%% set AGENT_URL = 'http://www.hitechrecruitment.com/'
	%% elif AGENT == 'tkos'
		%% set AGENT_NAME = 'Tk Open Systems Ltd.'
		%% set AGENT_URL = 'http://www.tkos.co.il/en/corporate/homepage.html'
	%% endif
%% endif

%% set NAME1 = 'Avraham'
%% set NAME2 = 'Abe'
%% set NAME3 = 'Bernstein'
%% set NAME = NAME1 + ' ' + NAME3
%% set GENDER = 'Male'
%% set BDAY_PUBLIC = '1956-01-01'

%% set RELATION_SPOUSE = 'Judy Bernstein +972.50.751-5111'
%% set RELATION_CHILD = 'Yirmi Bernstein +972.53.720-1096'

%% set CITY = 'Jerusalem'
%% set CITY_DISTRICT = 'Ramot Bet'
%% set COUNTRY = 'Israel'
%% set COUNTRY_CODE = 'IL'
%% set CONTINENT = 'Asia'
%% set TZ_REGION = CONTINENT + '/' + CITY

%# standard time
%% set TZ_OFFSET = '+0200'

%# identical spelling to google maps
%% set POSTAL_ADDR = "Mish'ol HaUzrad 7/2"
%% set POSTAL_ZIP = '9727433'

%# 31 deg 48'30.5" N, 35 deg 12'03.4" E
%% set GEO_COORDS = '31.808472,35.200944'
%% set GEO_URL = 'https://www.google.com/maps/place/' + GEO_COORDS

%# tel numbers on github: anti-harvesting "speed bumps"
%% set TEL_IL_SHORT = '054' + '.' + '641' + '-' + '0955'

%# schema: in-the-clear
%% set TEL_IL_SHORT_SQUEEZED = TEL_IL_SHORT | replace('.','') | replace('-','')

%# remove leading zero
%% set TEL_IL = '+972.' + TEL_IL_SHORT[1:]
%% set TEL_IL_SQUEEZED = TEL_IL | replace('.','') | replace('-','')
%% set TEL_US = '+' + '1' + '.' + '845' + '.' + '402' + '-' + '0023'

%% if WRITER == 'html5'
	%% set TEL_IL_OBF = TEL_IL|html_obfs
	%% set TEL_US_OBF = TEL_US|html_obfs
%% else
	%% set TEL_IL_OBF = TEL_IL|html_encode
	%% set TEL_US_OBF = TEL_US|html_encode
%% endif

{#
	The International Standard of Industrial Classification of All Economic Activities (ISIC).
	https://unstats.un.org/unsd/cr/registry/isic-4.asp
	6201 = Computer programming activities
	6202 = Computer consultancy and computer facilities management activities
	6209 = Other information technology and computer service activities
#}
%% set ISICV4 = '6209'

%# email addr on github: anti-harvesting "speed bumps"

%% set HOME = 'http://purl.org/' + NAME1 + '.' + NAME3
%% set CV_HOME = HOME + '/'
%% if AGENT is defined
	%% set CV_HOME = CV_HOME + AGENT + '/'
%% endif
%% set IMAGE_URL = HOME + '/image'
%% set VCARD3_URL = HOME + '/vcard3'
%% set VCARD4_URL = HOME + '/vcard4'
%# emails are pandoc obfuscated
%% set EMAIL = NAME1 + '.' + NAME3 + '@gmail.com'
%% if AGENT is defined
	%% set EMAIL = NAME1 + '.' + NAME3 + '+' + AGENT + '@gmail.com'
%% endif
%% set EMAIL_SPOKEN = NAME1 + ' DOT ' + NAME3 + ' AT gmail DOT com'
%% set GTALK_ID = NAME1 + NAME3
%% set SKYPE_ID = EMAIL
%% set WHATSAPP_ID = TEL_IL_SQUEEZED
%% set G_ANALYTICS_ID = 'UA-17365003-2'
%# schema: in-the-clear so don't use email addr version
%% set G_PLUS_ID = '110575620993497854880'
%% set G_PLUS_URL = 'https://plus.google.com/' + G_PLUS_ID
%% set LINKEDIN_ID = NAME1 + NAME3
%% set LINKEDIN_URL = 'https://www.linkedin.com/in/' + LINKEDIN_ID
%% set PGP_FPR = 'F5D4 76DA 7B0B B46F 02DB  ED3E 86EF CDAE E664 7D2F' | replace(' ','')
%% set PGP_ID = PGP_FPR[32:]
%% set PGP_LOOKUP_URL = 'https://pgp.mit.edu/pks/lookup?op=vindex&search=0x' + PGP_FPR[24:]
%% set PGP_ASC_URL = HOME + '/asc'

%% set COPYRIGHT = 'Copyright &copy; ' + YEAR + ' ' + NAME + ', ' + CITY + ' ' + COUNTRY + '. All rights reserved.'
%% set LICENSE = 'License: Except where otherwise noted, this work is licensed under the Creative Commons License [CC BY-ND 4.0](https://creativecommons.org/licenses/by-nd/4.0/). Computer software source code is licensed under the [Apache License v2.0](https://opensource.org/licenses/Apache-2.0).'

%% set DESCRIP = NAME + ', CV, cybersecurity'
%% set KEYS = DESCRIP + ', cyber security, obfuscation, anti-reverse engineering, pay TV, CTO, creativity, master S/W engineer, S/W architect, S/W quality, domain specific language, accessibility, blind, ' + CITY + ', ' + COUNTRY

%% if not ABBREV is defined
	%% set ABBREV = false
	%% set FULL = true
	%% set CV_URL = CV_HOME + 'cv.html'
	%% set TITLE = NAME1 + ' "' + NAME2 + '" ' + NAME3 + ' | Master S/W Engineer | CV'
	%% set PAGE_TITLE = NAME1 + NAME3 + ':CV'
%% else
	%% set ABBREV = true
	%% set FULL = false
	%% set CV_URL = CV_HOME + 'cv-abbrev.html'
	%% set VS = VS + '-abbrev'
	%% set TITLE = NAME1 + ' "' + NAME2 + '" ' + NAME3 + ' | Master S/W Engineer | Abbrev CV'
	%% set PAGE_TITLE = NAME1 + NAME3 + ':CV'
%% endif

%% if AGENT is defined
	%% set VS = VS + '-' + AGENT
%% endif

%% if WRITER == 'html5'
	%% set BR = '<br>'
%% else
	%% set BR = NL
%% endif

%% set TOC = '%%TOC%%'

%% if WRITER == 'html5'
	%% set HI_BEGIN = '<span class="hi">'
	%% set HI_END = '</span>'
%% else
	%% set HI_BEGIN = '__'
	%% set HI_END = '__'
%% endif

%% macro HI(text)
%% if WRITER == 'html5'
<span class="hi">
%% endif
__{{text}}__
%% if WRITER == 'html5'
</span>
%% endif
%% endmacro
